#header{
    width: 100%;
    height: 70px;
    background-color: #7D8D2A ;
}
#cont{
    display: flex;
}

.izq{
    background-color: #DEDEDE;
    width: 20%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding-top: 60px;
    gap: 20px;

}


.text {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    gap: 25px; 

}

.der{
    background-color: #B2B1AC;
    width: 80%;
    height: 823px;
    display: flex;
    justify-content: center;
    align-items: center; 
}